<h1>Listing approval_members</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Position</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @approval_members.each do |approval_member| %>
  <tr>
    <td><%= approval_member.name %></td>
    <td><%= approval_member.position %></td>
    <td><%= link_to 'Show', approval_member %></td>
    <td><%= link_to 'Edit', edit_approval_member_path(approval_member) %></td>
    <td><%= link_to 'Destroy', approval_member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Approval member', new_approval_member_path %>
